## Regression Models with Keras

### Objective for this Notebook
1. How to use the Keras library to build a regression model.
2. Download and Clean dataset 
3. Build a Neural Network 
4. Train and Test the Network.

### Table of Contents

1. Download and Clean Dataset
2. Import Keras
3. Build a Neural Network
4. Train and Test the Network

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:

1. Cement

2. Blast Furnace Slag

3. Fly Ash

4. Water

5. Superplasticizer

6. Coarse Aggregate

7. Fine Aggregate

### Load and Clean the Data

In [24]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

In [6]:
#df = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
#df.head()

In [8]:
df = pd.read_csv('concrete_data.csv')
df.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

### Check how many data point

In [10]:
print('Total Number of Row: {}'.format(df.shape[0]))
print('Total Number of Column: {}'.format(df.shape[1]))

Total Number of Row: 1030
Total Number of Column: 9

#### Check the dataset for any missing values.

In [12]:
df.describe()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age,concrete_compressive_strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

# df.isnull().sum()

#### Split data into predictors and target

In [15]:
df_columns = df.columns
df_columns

Index(['cement', 'blast_furnace_slag', 'fly_ash', 'water', 'superplasticizer',
       'coarse_aggregate', 'fine_aggregate ', 'age',
       'concrete_compressive_strength'],
      dtype='object')

#### Predictor/Feature Values

In [17]:
predictors = df[df_columns[df_columns != 'concrete_compressive_strength']]

In [18]:
predictors.head()

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

#### Target Value

In [19]:
target = df['concrete_compressive_strength']

In [20]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: concrete_compressive_strength, dtype: float64

#### Normalize the data by substracting the mean and dividing by the standard deviation

In [21]:
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm

,cement,blast_furnace_slag,fly_ash,water,superplasticizer,coarse_aggregate,fine_aggregate,age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069
...,...,...,...,...,...,...,...,...
1025,-0.045623,0.487998,0.564271,-0.092126,0.451190,-1.322363,-0.065861,-0.279597
1026,0.392628,-0.856472,0.959602,0.675872,0.702285,-1.993711,0.496651,-0.279597
1027,-1.269472,0.759210,0.850222,0.521336,-0.017520,-1.035561,0.080068,-0.279597
1028,-1.168042,1.307430,-0.846733,-0.279443,0.852942,0.214537,0.191074,-0.279597
1029,-0.193939,0.308349,0.376762,0.891286,0.400971,-1.394385,-0.150675,-0.279597

#### Save the number of predictors to n_cols

In [25]:
#Number of predictors
n_cols = predictors_norm.shape[1]

In [26]:
# define regression model
def regression_model():
    #Create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    #Compel model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### Train and Test the Network

In [28]:
#Build the model
model = regression_model()
#Fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 4s - loss: 1653.7710 - val_loss: 1139.6996 - 4s/epoch - 184ms/step
Epoch 2/100
23/23 - 0s - loss: 1524.6826 - val_loss: 1021.2117 - 133ms/epoch - 6ms/step
Epoch 3/100
23/23 - 0s - loss: 1315.7744 - val_loss: 835.3539 - 136ms/epoch - 6ms/step
Epoch 4/100
23/23 - 0s - loss: 992.4383 - val_loss: 601.1056 - 127ms/epoch - 6ms/step
Epoch 5/100
23/23 - 0s - loss: 631.5583 - val_loss: 366.2721 - 113ms/epoch - 5ms/step
Epoch 6/100
23/23 - 0s - loss: 354.0918 - val_loss: 228.6462 - 99ms/epoch - 4ms/step
Epoch 7/100
23/23 - 0s - loss: 252.6452 - val_loss: 182.8925 - 153ms/epoch - 7ms/step
Epoch 8/100
23/23 - 0s - loss: 229.9271 - val_loss: 169.2846 - 134ms/epoch - 6ms/step
Epoch 9/100
23/23 - 0s - loss: 214.2853 - val_loss: 161.4551 - 117ms/epoch - 5ms/step
Epoch 10/100
23/23 - 0s - loss: 203.3293 - val_loss: 155.3286 - 129ms/epoch - 6ms/step
Epoch 11/100
23/23 - 0s - loss: 193.7743 - val_loss: 153.9114 - 117ms/epoch - 5ms/step
Epoch 12/100
23/23 - 0s - loss: 187.8203 - val_loss: 148.8087 - 133ms/epoch - 6ms/step
Epoch 13/100
23/23 - 0s - loss: 180.5227 - val_loss: 147.9111 - 134ms/epoch - 6ms/step
Epoch 14/100
23/23 - 0s - loss: 175.6038 - val_loss: 144.4663 - 132ms/epoch - 6ms/step
Epoch 15/100
23/23 - 0s - loss: 171.5435 - val_loss: 144.7928 - 113ms/epoch - 5ms/step
Epoch 16/100
23/23 - 0s - loss: 166.9796 - val_loss: 140.9460 - 101ms/epoch - 4ms/step
Epoch 17/100
23/23 - 0s - loss: 163.7162 - val_loss: 139.7025 - 110ms/epoch - 5ms/step
Epoch 18/100
23/23 - 0s - loss: 161.7690 - val_loss: 140.5953 - 109ms/epoch - 5ms/step
Epoch 19/100
23/23 - 0s - loss: 158.8993 - val_loss: 137.1924 - 116ms/epoch - 5ms/step
Epoch 20/100
23/23 - 0s - loss: 156.1326 - val_loss: 135.8262 - 134ms/epoch - 6ms/step
Epoch 21/100
23/23 - 0s - loss: 154.4708 - val_loss: 136.8573 - 131ms/epoch - 6ms/step
Epoch 22/100
23/23 - 0s - loss: 152.4084 - val_loss: 135.0240 - 125ms/epoch - 5ms/step
Epoch 23/100
23/23 - 0s - loss: 150.9750 - val_loss: 135.2633 - 120ms/epoch - 5ms/step
Epoch 24/100
23/23 - 0s - loss: 148.9492 - val_loss: 133.5661 - 133ms/epoch - 6ms/step
Epoch 25/100
23/23 - 0s - loss: 147.2528 - val_loss: 131.7973 - 133ms/epoch - 6ms/step
Epoch 26/100
23/23 - 0s - loss: 145.2383 - val_loss: 132.8464 - 161ms/epoch - 7ms/step
Epoch 27/100
23/23 - 0s - loss: 143.5150 - val_loss: 132.6548 - 121ms/epoch - 5ms/step
Epoch 28/100
23/23 - 0s - loss: 141.9403 - val_loss: 132.1735 - 139ms/epoch - 6ms/step
Epoch 29/100
23/23 - 0s - loss: 140.5480 - val_loss: 131.9144 - 124ms/epoch - 5ms/step
Epoch 30/100
23/23 - 0s - loss: 138.9857 - val_loss: 132.6322 - 117ms/epoch - 5ms/step
Epoch 31/100
23/23 - 0s - loss: 137.0853 - val_loss: 133.3365 - 117ms/epoch - 5ms/step
Epoch 32/100
23/23 - 0s - loss: 136.3568 - val_loss: 132.1861 - 137ms/epoch - 6ms/step
Epoch 33/100
23/23 - 0s - loss: 135.3623 - val_loss: 130.2578 - 125ms/epoch - 5ms/step
Epoch 34/100
23/23 - 0s - loss: 133.3956 - val_loss: 133.7452 - 116ms/epoch - 5ms/step
Epoch 35/100
23/23 - 0s - loss: 132.4283 - val_loss: 130.4383 - 133ms/epoch - 6ms/step
Epoch 36/100
23/23 - 0s - loss: 130.7291 - val_loss: 132.9932 - 165ms/epoch - 7ms/step
Epoch 37/100
23/23 - 0s - loss: 129.1099 - val_loss: 129.3545 - 117ms/epoch - 5ms/step
Epoch 38/100
23/23 - 0s - loss: 128.0239 - val_loss: 131.6587 - 117ms/epoch - 5ms/step
Epoch 39/100
23/23 - 0s - loss: 126.2125 - val_loss: 130.7948 - 117ms/epoch - 5ms/step
Epoch 40/100
23/23 - 0s - loss: 124.3320 - val_loss: 131.5632 - 123ms/epoch - 5ms/step
Epoch 41/100
23/23 - 0s - loss: 122.2038 - val_loss: 129.8443 - 107ms/epoch - 5ms/step
Epoch 42/100
23/23 - 0s - loss: 120.4401 - val_loss: 130.8753 - 117ms/epoch - 5ms/step
Epoch 43/100
23/23 - 0s - loss: 118.1006 - val_loss: 127.6321 - 134ms/epoch - 6ms/step
Epoch 44/100
23/23 - 0s - loss: 116.1354 - val_loss: 128.4057 - 123ms/epoch - 5ms/step
Epoch 45/100
23/23 - 0s - loss: 113.2791 - val_loss: 127.1246 - 124ms/epoch - 5ms/step
Epoch 46/100
23/23 - 0s - loss: 110.9958 - val_loss: 125.3726 - 117ms/epoch - 5ms/step
Epoch 47/100
23/23 - 0s - loss: 108.8025 - val_loss: 125.0336 - 116ms/epoch - 5ms/step
Epoch 48/100
23/23 - 0s - loss: 106.8514 - val_loss: 123.2821 - 131ms/epoch - 6ms/step
Epoch 49/100
23/23 - 0s - loss: 104.6887 - val_loss: 122.9204 - 173ms/epoch - 8ms/step
Epoch 50/100
23/23 - 0s - loss: 102.5036 - val_loss: 121.2686 - 184ms/epoch - 8ms/step
Epoch 51/100
23/23 - 0s - loss: 99.8544 - val_loss: 122.1678 - 214ms/epoch - 9ms/step
Epoch 52/100
23/23 - 0s - loss: 97.7843 - val_loss: 122.7835 - 179ms/epoch - 8ms/step
Epoch 53/100
23/23 - 0s - loss: 95.6835 - val_loss: 117.1688 - 141ms/epoch - 6ms/step
Epoch 54/100
23/23 - 0s - loss: 93.2196 - val_loss: 116.6845 - 245ms/epoch - 11ms/step
Epoch 55/100
23/23 - 0s - loss: 90.5803 - val_loss: 119.0513 - 224ms/epoch - 10ms/step
Epoch 56/100
23/23 - 0s - loss: 87.9595 - val_loss: 113.2142 - 145ms/epoch - 6ms/step
Epoch 57/100
23/23 - 0s - loss: 86.6253 - val_loss: 115.8652 - 194ms/epoch - 8ms/step
Epoch 58/100
23/23 - 0s - loss: 83.3118 - val_loss: 117.9049 - 159ms/epoch - 7ms/step
Epoch 59/100
23/23 - 0s - loss: 81.1273 - val_loss: 109.7759 - 140ms/epoch - 6ms/step
Epoch 60/100
23/23 - 0s - loss: 79.2474 - val_loss: 117.3138 - 140ms/epoch - 6ms/step
Epoch 61/100
23/23 - 0s - loss: 76.0923 - val_loss: 111.9421 - 160ms/epoch - 7ms/step
Epoch 62/100
23/23 - 0s - loss: 73.8443 - val_loss: 109.1290 - 149ms/epoch - 6ms/step
Epoch 63/100
23/23 - 0s - loss: 71.8868 - val_loss: 111.6574 - 167ms/epoch - 7ms/step
Epoch 64/100
23/23 - 0s - loss: 69.8044 - val_loss: 109.1461 - 193ms/epoch - 8ms/step
Epoch 65/100
23/23 - 0s - loss: 68.5632 - val_loss: 109.8485 - 157ms/epoch - 7ms/step
Epoch 66/100
23/23 - 0s - loss: 66.1852 - val_loss: 107.4224 - 165ms/epoch - 7ms/step
Epoch 67/100
23/23 - 0s - loss: 64.2767 - val_loss: 108.3542 - 191ms/epoch - 8ms/step
Epoch 68/100
23/23 - 0s - loss: 62.3370 - val_loss: 108.4176 - 199ms/epoch - 9ms/step
Epoch 69/100
23/23 - 0s - loss: 60.6390 - val_loss: 104.3291 - 173ms/epoch - 8ms/step
Epoch 70/100
23/23 - 0s - loss: 58.8744 - val_loss: 111.2520 - 160ms/epoch - 7ms/step
Epoch 71/100
23/23 - 0s - loss: 57.3986 - val_loss: 105.1566 - 318ms/epoch - 14ms/step
Epoch 72/100
23/23 - 0s - loss: 55.6162 - val_loss: 103.4201 - 238ms/epoch - 10ms/step
Epoch 73/100
23/23 - 0s - loss: 54.5242 - val_loss: 117.0448 - 185ms/epoch - 8ms/step
Epoch 74/100
23/23 - 0s - loss: 53.3669 - val_loss: 106.2372 - 217ms/epoch - 9ms/step
Epoch 75/100
23/23 - 0s - loss: 51.8454 - val_loss: 100.1479 - 201ms/epoch - 9ms/step
Epoch 76/100
23/23 - 0s - loss: 51.0710 - val_loss: 104.6219 - 186ms/epoch - 8ms/step
Epoch 77/100
23/23 - 0s - loss: 49.8089 - val_loss: 105.2777 - 234ms/epoch - 10ms/step
Epoch 78/100
23/23 - 0s - loss: 48.1821 - val_loss: 107.1206 - 198ms/epoch - 9ms/step
Epoch 79/100
23/23 - 0s - loss: 46.6632 - val_loss: 108.0483 - 156ms/epoch - 7ms/step
Epoch 80/100
23/23 - 0s - loss: 45.7974 - val_loss: 102.3033 - 172ms/epoch - 7ms/step
Epoch 81/100
23/23 - 0s - loss: 44.8159 - val_loss: 109.7171 - 180ms/epoch - 8ms/step
Epoch 82/100
23/23 - 0s - loss: 44.1074 - val_loss: 106.2368 - 176ms/epoch - 8ms/step
Epoch 83/100
23/23 - 0s - loss: 43.4715 - val_loss: 100.2707 - 152ms/epoch - 7ms/step
Epoch 84/100
23/23 - 0s - loss: 42.9953 - val_loss: 112.4583 - 161ms/epoch - 7ms/step
Epoch 85/100
23/23 - 0s - loss: 43.0245 - val_loss: 99.0455 - 171ms/epoch - 7ms/step
Epoch 86/100
23/23 - 0s - loss: 41.3923 - val_loss: 104.1431 - 154ms/epoch - 7ms/step
Epoch 87/100
23/23 - 0s - loss: 40.6503 - val_loss: 111.6223 - 154ms/epoch - 7ms/step
Epoch 88/100
23/23 - 0s - loss: 40.0456 - val_loss: 106.8199 - 158ms/epoch - 7ms/step
Epoch 89/100
23/23 - 0s - loss: 39.6687 - val_loss: 101.4387 - 149ms/epoch - 6ms/step
Epoch 90/100
23/23 - 0s - loss: 39.0351 - val_loss: 104.0837 - 156ms/epoch - 7ms/step
Epoch 91/100
23/23 - 0s - loss: 38.2356 - val_loss: 101.4035 - 174ms/epoch - 8ms/step
Epoch 92/100
23/23 - 0s - loss: 38.1192 - val_loss: 99.1838 - 137ms/epoch - 6ms/step
Epoch 93/100
23/23 - 0s - loss: 37.6580 - val_loss: 104.5066 - 167ms/epoch - 7ms/step
Epoch 94/100
23/23 - 0s - loss: 37.3847 - val_loss: 101.0394 - 156ms/epoch - 7ms/step
Epoch 95/100
23/23 - 0s - loss: 36.5303 - val_loss: 100.3727 - 157ms/epoch - 7ms/step
Epoch 96/100
23/23 - 0s - loss: 36.1283 - val_loss: 105.0307 - 188ms/epoch - 8ms/step
Epoch 97/100
23/23 - 0s - loss: 35.4526 - val_loss: 101.3684 - 181ms/epoch - 8ms/step
Epoch 98/100
23/23 - 0s - loss: 35.1781 - val_loss: 105.0310 - 187ms/epoch - 8ms/step
Epoch 99/100
23/23 - 0s - loss: 34.9256 - val_loss: 106.6898 - 191ms/epoch - 8ms/step
Epoch 100/100
23/23 - 0s - loss: 34.8765 - val_loss: 109.6340 - 360ms/epoch - 16ms/step